    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">


<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <div class="form-group">


        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        class="btn btn-success"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </div>

        </p>

        <p>
            <label for="searchTerm">Keyword:
            <input type="text" name="searchTerm" id="searchTerm" class="btn btn-success"/>
            </label>
        </p>
        <div class="form-group">
        <input type="submit" value="Search" class="btn btn-success"/>
        </div>
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

</div>

</body>
</html>